<h1>Stupid Coaching</h1>

<div class="text-block">
  <h2> <%= params[:question] %> </h2>
</div>

<div class="text-block">
  <h2> <%= @answer %> </h2>
</div>

<a><%= link_to "Ask a new question", ask_path %></a>
