// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
  padding: 16px;
  border-left: 8px solid lightgrey;
  margin-bottom: 16px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  width: 800px;
}

a {
  text-decoration: none;
  color: blue;
}
